<div class="row">
  <div class="col-md-7">
    <span class="hipster img-fluid rounded"></span>
  </div>

  <div class="col-md-9" style="text-align: center">
    <h1 class="display-4"><span>اهلا وسهلا بكم فى موقع  </span> كتاب</h1>
  </div>

  <div class="col-md-9" style="text-align: right">


    <p class="lead">الصفحة الرئيسية</p>

    <div [ngSwitch]="account !== null">
      <div class="alert alert-success" *ngSwitchCase="true">
        <span id="home-logged-message" *ngIf="account">انت مسجل فى الصحفة "{{ account.login }}".</span>
      </div>

      <div class="alert alert-warning" *ngSwitchCase="false">
        <span>اذا كانت تريد </span>
        <a class="alert-link" (click)="login()">الدخول</a
        ><span
          >, you can try the default accounts:<br />- Administrator (login="admin" and password="admin") <br />- User (login="user" and
          password="user").</span
        >
      </div>

      <div class="alert alert-warning" *ngSwitchCase="false">
        <span>انت لا تملك حساب ؟</span>&nbsp;
        <a class="alert-link" routerLink="account/register">سجل ععضو جديد</a>
      </div>
    </div>

    <p>مواقع مهمة للكتب والمراجع العلمية </p>

    <ul>
      <li><a href="https://archive.org/" target="_blank" rel="noopener noreferrer">موقع الارشيف</a></li>
      <li>
        <a href="https://b-ok.africa/" target="_blank" rel="noopener noreferrer">موقع كتب واوراق علمية</a>
      </li>
      <li>
        <a href="https://www.pdfdrive.com/" target="_blank" rel="noopener noreferrer">كتب ومجلات وجرائد</a
        >
      </li>
      <li>
        <a href="http://libgen.rs/" target="_blank" rel="noopener noreferrer">كتب ومجلات علمية</a>
      </li>
      <li><a href="https://www.noor-book.com/" target="_blank" rel="noopener noreferrer">موقع نور للكتب</a></li>

      <li><a href="https://foulabook.com/" target="_blank" rel="noopener noreferrer">موقع فلة للكتب </a></li>
      <li><a href="https://www.4read.net/" target="_blank" rel="noopener noreferrer">موقع فو ريد للكتب </a></li>
      <li><a href="https://www.kutub.info/" target="_blank" rel="noopener noreferrer">موقع كتاب للكتب </a></li>
    </ul>

    <p style="text-align: center">
      <span>نحن نرحب بك للعودة مرة اخرى للموقع للاستفادة منه.</span>
    </p>
  </div>
</div>
